<% @post = post %>
<% if @post %>
  <li class="post card" id="post-<%= @post.id %>">
    <div class="card-body">
      <span class="creator a-white">
        <span image><%= profile_img_for(post.creator) %></span>
        <span><%= link_to post.creator.user_name, user_path(post.creator), class: :name %></span>
        <span class="profile-btn"><%= link_to 'View Profile', user_path(post.creator), class: :name %></span>
      </span>
      <span class="content">
        Content: <%= @post.content %>
      </span>
      <span class="timestamp">
        <small>Created <%= time_ago_in_words(@post.created_at) %> ago.</small>
      </span>
      <% if (current_user == post.creator) && (request.env['PATH_INFO'] == user_path(current_user)) %>
        <%= link_to 'Delete post', post_path(@post), method: :delete, class: "delete"%>
      <% end %>
      <hr>
      <input type="checkbox" class="toggle" id="toggle-<%=@post.id%>" checked>
      <ul icons>
        <li>
          <% if @post.likes.find_by(user_id: current_user.id) %>
            <%= link_to fa_icon("heart", class: "far unheart"), likes_post_path(@post), method: :post %>
          <% else %>
            <%= link_to fa_icon("heart", class: "far heart"), likes_post_path(@post), method: :post %>
          <% end %>
        </li>
        <li>
          <label for="toggle-<%=@post.id %>"><%= fa_icon "comment", class: "far comm" %></label>
        </li>
        <% if @post.likes.count > 1 %>
          <span><%= @post.likes.count%> likes</span>
        <% elsif @post.likes.count == 1 %>
          <span><%= @post.likes.count%> like</span>
        <% end %>
      </ul>
      <div class="comments-div">
        <hr>
        <%= render 'comments/form'%>
        <hr>
        <%= render 'comments_list' %>
      </div>
    <div>
  </li>
<% end %>
