<section class="user-info">
  <h6 class="h-title">
    <div class="avatar">
      <% if @user.avatar.attached? %>
        <%= image_tag resource.avatar.variant(resize: "40x40"), class: "rounded-circle" %>
      <% else %>
        <%= image_tag gravatar_image_url(@user.email) %>
      <% end %>
    </div>
    <span class="userinfo"><%= ("Name: " + @user.user_name) %> </span>
    <span class="userinfo"><%= ("Email: " + @user.email) %> </span>
  </h6>
  <% if (current_user.id == @user.id) %>
    <%= link_to "Edit info", edit_user_registration_path,
      class: "edit" %>
  <% end %>
</section>
