<section class="user-info">
  <h6 class="h-title">
    <div class="avatar">
      <%= profile_img_for(@user) %>
    </div>
    <span class="userinfo"><%= ("Name: " + @user.user_name) %> </span>
    <span class="userinfo"><%= ("Email: " + @user.email) %> </span>
    <div mutuals>
      <% if mutual_friends(@user).any? && @user != current_user%>
        <% if mutual_friends(@user).count == 1 %>
          <span><%= mutual_friends(@user).first.user_name %> is a mutual friend</span>
        <% else %>
          <span><%= mutual_friends(@user).first.user_name %> and <%= mutual_friends(@user).count-1 %> <%= mutual_friends(@user).count-1 == 1 ? "other" : "others"%> are mutuals friends</span>
        <% end %>
      <% end %>
      <div class="prof-request">
        <% if @user != current_user && (current_user.friends? @user)%>
          <% if pending_inverse_friend?(@user) %>
            <%= link_to 'Accept request', accept_friendship_path(:id => @user.id), method: :post, class: 'accept-request' %>
          <% elsif pending_friend?(@user) || (current_user.friends.include? @user) %>
            <%= link_to 'Cancel request', cancel_friendship_path(:id => @user.id), method: :delete, class: 'cancel-friend' %>
          <% else %>
            <%= link_to 'Add friend', friendship_path(:id => @user.id), method: :post, class: 'request-friend' %>
          <% end %>
        <% end %>
      </div>
      <div friends><%= @user.friends.count %> friends</div>
    </div>
  </h6>
  <% if (current_user.id == @user.id) %>
    <%= link_to "Edit info", edit_user_registration_path,
      class: "edit" %>
  <% end %>
</section>
