<div class="comments-container">
  <% if @post.comments.any? %>
    <div class="comments">
      <% if (request.env['PATH_INFO'] != post_path(@post)) %>
        <% max1(@post).each do |comment| %>
          <%= render comment %>
          <hr>
        <% end %>
        <% if @post.comments.count > 1 %>
          <a trueId href="#" onclick="toggleComments(event)" data-message='<%=@post.id%>' >See all comments</a>
        <% end %>
      <% else %>
        <% @post.comments.sort_by(&:created_at).reverse.each do |comment| %>
          <%= render comment %>
          <hr>
        <% end %>
      <%end%>
    </div>
  <% end %>
</div>
<div class="all-comments-container">
  <span close onclick="closeComments(this)" data-msg='<%=@post.id%>'>&#10006;</span>
  <div class='all-comments' id="comment_post_<%= @post.id %>" >
    <% if @post.comments.any? %>
      <div class="comments">
        <% all_comments(@post).each do |comment| %>
          <%= render comment %>
          <hr>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
